#grillefinishpackagediv{
  display:none
}


#grillefinishpackage {
  height: 18vh;
  width: 100vw;
  background: #3e4140;
  position: absolute;
  top: 79vh;
  display: flex;
  align-items: center;
}

#grillefinishpackageimagesplate img{
  width:10em;
  /* height:1em; */
}

#grillefinishpackageimagesplate{
  display:flex;
  align-items:center;
}

.grillefinishpackagehoverhider{
  overflow:hidden;
  margin-left:1em;
}

#grillefinishpackageimagewithinfo {
  display: flex;
  flex-direction: column;
  width: 14em;
  height: 96%;
}
#grillefinishpackageplatesdiv{
  /* background: yellow; */
  width: 66em;
}
#grillefinishpackageimageinformationsection {
  position: relative;
  right: -8vh;
  /* background: aqua; */
  border-left: 1px solid grey;
  width: 25vw;
  height: 7em;
  align-items: center;
  display: flex;
  padding: 0% 1% /* position: relative; right: -102vh; background: aqua; width: 24em; display: flex; */;
}

#infobuttonforgrillefinishbody {
  width: 2em;
  height: 2em;
  position: relative;
  /* top: 70%; */
  right: -80%;
  top: -31%;
}
.grillefinishbodyscaling:hover{
  transform: scale(1.1);
transition: transform 1.5s ease;
}

.grillefinishbodyscaling:hover  img{
}

.grillefinishpackageimagesplate img{
  
}
#grillefinishpackagename{
  font-weight: 600;
  color:white;
}

#grillefinishpackageinformationcontent{
  margin: 1em;
    width: 12em;
}
#currentgrillefinishbodyinfoimage {
  position: relative;
  top: 0%;
}