.configure{
  width:100%;
  height:100vh;
  /* display:none; */
  
background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 24%, rgba(3,122,45,1) 45%, rgba(0,0,0,1) 73%);
}

/* #videocross {
  width: 30px;
  height: auto;
  position: relative;
  top: -88%;
  left: 86%;
} */

/* //videocross for full screen*/
 #videocross {
    width: 37px;
    height: auto;
    position: relative;
    top: -117%;
    left: 94%;
}

#videocross:hover{
  width:37px;
  height:37px;
  border-radius:50%;
  background-color:rgba(190, 214, 230, 0.152);
  cursor:pointer;


}

