.configure{
  width:100%;
  height:100vh;
  /* background-color:; */

}

.configure img{
  
}

.aston{
  width: 809px;
  height: auto;
  position: absolute;
  top: 23%;
  left: 20%;
}

.playbtn{
  width: 53px;
  height: auto;
  position: absolute;
  top: 181px;
  left: 744px;
}