/* <--------------------------------------Menu css------------------------------> */
.menu{
  display:none;
  position:relative;
  top:0;
  width:408px;
  height:100vh;
  background-color:#161A11;
}

li {
  color: grey;
    list-style-type: none;
    font-size: 24px;
    margin-top: 33px;
    margin-left: 70px;
    display:flex;
}
li:hover{
  color:white;
  transition:all ease 0.5s;
}

li.active{
  color:white;
}
img{
  /* display:flex;
  float:right; */
  position:relative;
  right:0;
}
.img1{
  position: relative;
    left: 101px;
    top: 1px;
}

.img1:hover{

}
.img2{position: relative;
  left: 100px;
  top: 0px;}

.img3{
  position: relative;
    left: 71px;
    top: 0px;
}
.cross {
  width: 17px;
  height: auto;
  position: relative;
  top: 18px;
  left: 60px;
}

.links{
  position: relative;
  top: 25px;
} 
