.owners{
  display: none;
  width: 408px;
  height: 100vh;
  background-color: #161A11;
  position: relative;
  left: 408px;
  top: -774px;
  color: white;
}

.owners li{
  color:white;
}

.customersupport{
  position:relative;
  top:72px;
}