.container {
  height: 90vh;
  width: 554px;
  /* border: 1px solid black; */
  position:absolute;
  /* top:286px; */
  left: 160px;

}


.arriving {
  color: white;
  position:absolute;
  top:149px;
}


.arriving h1 {
  font-size: 25px;
  font-weight: 900;
}

.arriving button{
  height: 56px;
  width: 256px;
  /* background-color: green; */
  background: #339966;

  color: white;
  border-radius: 8px;
  margin-top: 23px
}