.capture {
  /* height: 100%; */
  /* width: 100%; */
  border: 1px solid red;

}

.right {
  /* float: right; */
  /* width: 30%; */
  height: 100vh;
  position: absolute;
  left: 60%;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 10px 10px;
  /* border: 1px solid green; */
}


.h1 {
  font-weight: 800;
  font-size: 40px;
}

.power {
  position:absolute;
  /* border:1px solid cyan; */
  left:122px;
  height:100%;
  width: 27%;
  display: flex;
  justify-content: space-between;
  padding:10px;
  

}

.speed{
  position:absolute;
  left:614px;
  height:100%;
  width:400px;
  position:absolute;
  /* border:1px solid cyan; */
  width: 27%;
  display: flex;
  justify-content: space-between;
  padding:10px;
}
.mile{
  position: absolute;
    /* border: 1px solid cyan; */
    left: 1055px;
    height: 100%;
    width: 27%;
    display: flex;
    justify-content: space-between;
    padding: 10px; 
}

.powertext ,.speedtext,.miletext{
  position: absolute;
  color: white;
}

.bhp {
  font-weight: 200;
}
.mph{
  font-weight: 200;
  margin-left:6px;
}

.milebhp{
  font-weight:200;
  margin-left:6px;
}

.num {
  position: relative;
  
left:140px;
  
}

.milenum{
  position: relative;
  left:140px
}

.speednum{
  position:relative;
  left:120px;
}

.powerbar,.speedbar ,.milebar{
  width: 70%;
  height: 2px;
  background-color: #6B6B6B;
  position: relative;
  top:31px;
}

 .powerprogress { 
  width: 195px;
  height: 100%;
  background-color:white;
  z-index: 999;
  position:relative;
  
} 


.speedprogress{

width: 175px;
  height: 100%;
  background-color:white;
  z-index: 999;
  position:relative;
}

.mileprogress{
  width: 245px;
  height: 100%;
  background-color:white;
  z-index: 999;
  position:relative;
}

.specs {
  color: black;
  /* border: 1px solid black; */
  width:100%;
  /* background-color: aliceblue; */
  height: 10vh;
  position: absolute;
  /* bottom: 0; */
  top:80vh;
  display:flex;
  justify-content: space-between;
}



