h2{
    color: white;
    background-color: rgb(1, 97, 1);
    text-align: center;
    font-weight: 500;
  }
.head{
    
    align-self:self-end ;
   
    height:0.08vh;
    width:1vw;
  }
 .tDrive{
    align-self: self-end; 
  }