@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Nunito: "Nunito", sans-serif;
  --Bilbo: "Bilbo Swash Caps", cursive;
}

body {
  font-family: var(--Nunito);
}

.navbar-shadow {
  width: 100vw;
  box-shadow: 0px 1px 10px #999;
}

.myAston {
  /* background: linear-gradient(90deg, #D4A9FF 0%, #364AFF 100%); */
  background: linear-gradient(to right,
      #7b51d5 20%,
      #20bafc 30%,
      #098dc5 50%,
      #764ada 80%);
  background-clip: text;
  background-size: 500% auto;
  color: transparent;
  line-height: 1.4;
  animation: textShine 4s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.selDeaBtn {
  background-color: #18CD7F;
}

.selDeaBtn:hover {
  background-color: #0ba261;
  color: white;
  transition: all 400ms;
}
.viewDea-btn{
  background-color: #F2FFFA;
  color: #0E995D;
}
.viewDea-btn:hover{
  background-color: #e6e4e4;
  transition: all 400ms;

}
.dealerCont{
  box-sizing: border-box;
}
.dealerCont:last-child{
  padding-bottom: 2rem;
}
.userSubmitBtn {
  background-color: #18CD7F;
}

.userSubmitBtn:hover {
  background-color: #0ba261;
  transition: all 100ms;
}