@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Nunito: "Nunito", sans-serif;
  --Bilbo: "Bilbo Swash Caps", cursive;
}

body {
  font-family: var(--Nunito);
}

.navbar-shadow {
  width: 100vw;
  box-shadow: 0px 1px 10px #999;
}

.landing-left {
  top: calc(100vh - 20rem);
  left: 7.875rem;
}

.landing-right {
  top: calc(100vh - 17.125rem);
  right: 3rem;
}

.myAston {
  /* background: linear-gradient(90deg, #D4A9FF 0%, #364AFF 100%); */
  background: linear-gradient(to right,
      #7b51d5 20%,
      #20bafc 30%,
      #098dc5 50%,
      #764ada 80%);
  background-clip: text;
  background-size: 500% auto;
  color: transparent;
  line-height: 1.4;
  animation: textShine 4s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

/* .landing-container {
   background: url("/Rectangle 9.svg"); 
   background-size: cover;
  background-position: right 0 bottom 0;
  height: 100vh;
  z-index: -1; 
} */

